.latlong-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 80px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 8px 8px 24px 0px rgb(118, 120, 139);
    width: 330px;
}

.latlong-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.latlong-form-buttons > button {
    border-radius: 50%;
    border: none;
    padding: 5px;
    color: white;
    font-size: 30px;
}

.latlong-form-add {
    background-color: rgb(90, 201, 90);
}

.latlong-form-remove {
    background-color: rgb(197, 34, 34);
}

.latlong-form-add:hover {
    background-color: rgb(25, 116, 25);
    color: aliceblue;
}

.latlong-form-remove:hover {
    background-color: rgb(134, 29, 29);
    color: aliceblue;
}

.latlong-form-disabled {
    background-color: gray;
}

.latlong-form-submit {
    margin-top: 25px;
    padding: 8px 0px 8px;
    border: 0;
    border-radius: 10px;
    font-size: 17px;
    background-color: #00cdac;
    color: white;
    font-weight: 500;
}

.latlong-form-submit:hover {
    background-color: #01a58a;
}

.latlong-form > h1 {
    align-self: center;
    font-weight: 600;
}

.latlong-save-trip-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.latlong-save-trip-container > .latlong-save-input {
    margin-top: 5px;
    padding: 8px;
    color: rgb(58, 57, 57);
    font-weight: 300;
    width: 60%;
}

.form-error {
    color: red;
    font-size: 14px;
    margin: 7px 0px 0px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
