.weather-overview-container {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather-city-name {
    font-size: 30px;
    margin: 0;
}

.weather-img-present {
    margin: 10px 0 0;
    width: 80px;
}
.weather-temperature {
    font-size: 60px;
    margin: 10px 0 0;
    font-weight: 500;
}

.weather-condition {
    font-weight: 300;
}
